# Scientific & ML packages
numpy==1.26.3
scipy>=1.11.4,<2
scikit-learn==1.4.2
imbalanced-learn==0.14.1
xgboost==2.0.3
pandas==2.3.3
matplotlib==3.10.8
networkx==3.1

# NLP / text processing
nltk==3.9.2

# MLflow
mlflow==3.8.1
mlflow-skinny==3.8.1
mlflow-tracing==3.8.1

# AWS SDK
boto3>=1.26,<1.27
aiobotocore>=2.25,<2.27

# Web / API
Flask==3.1.2
flask-cors==6.0.2
fastapi==0.128.0
uvicorn==0.40.0

# Other useful packages
requests==2.32.5
tqdm==4.67.1
python-dotenv==1.2.1
joblib==1.5.3
pydantic==2.12.5
orjson==3.11.5

